<div class="chat-window__contact-info">
    {{{ contactAvatar }}}
    <h1 class="chat-window__contact-name">
        Вадим
    </h1>
</div>
<button class="chat-window__control button" id="chat-window-header-button">
    <div>{{{ headerButton }}}</div>
    {{{ dropdown }}}
</button>
