.chat-window__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid var(--item-border);
    padding: 10px;
    position: relative;
}
.chat-window__contact-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.chat-window__contact-name {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 13px;
    color: #1E1E1E;
}
.chat-window__control {
    cursor: pointer;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
