.dropdown {
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.14);
    background: #fff;
    padding: 17px;
    display: flex;
}
.display-none {
    display: none !important;
}