<button class="attach-file-button button" id="attach-file-button">
    {{{ attachFileIcon }}}
</button>
<input type="text" name="message" placeholder="Сообщение" class="message-input" />
<button class="send-message-button button">
    {{{ sendMessageIcon }}}
</button>
{{{ dropdown }}}
