<div class="contact-card">
    <div class="contact-card__avatar">
        <div class="contact-card__avatar-icon">{{#avatarIcon}}{{avatarIcon}}{{/avatarIcon}}</div>
    </div>
    <div class="contact-card__content">
        <div class="contact-card__contact-name">
            Андрей
        </div>
        <div class="contact-card__last-message">
            Друзья, у меня для вас особенный выпуск новостей!...
        </div>
    </div>
    <div class="contact-card__meta-info">
        <div class="last-message-date">
            12:00
        </div>
        <div class="unread-messages-count">
            2
        </div>
    </div>
</div>