<div class="chat-window__content">
    {{#if chatSelected}}
        {{{ chatWindowHeader }}}
        <div class="chat-window__body">
            {{{ messageBox }}}
        </div>
        {{{ chatWindowFooter }}}
    {{else}}
    <p class="chat-window__no-data-text">Выберите чат чтобы отправить сообщение</p>
    {{/if}}
</div>


