<div class="chat-window">
    {{#if chatSelected}}
        <div class="chat-window__no-data-text">Выберите чат чтобы отправить сообщение</div>
    {{else}}
        {{> ChatWindowHeader }}
        <div class="chat-window__body">
            {{> MessageBox }}
        </div>
        {{> ChatWindowFooter }}
    {{/if}}
</div>