.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 340px;
    border-radius: 12px;
    padding: 30px;
    box-shadow: var(--modal-box-shadow);
    background: var(--background-color);
}

.form__title {
    text-align: center;
    color: var(--title-text-color);
    font-size: 20px;
    font-weight: 500;
    font-family: Inter-Medium, sans-serif;
    padding-top: 20px;
}

.form__fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}
