{{#if formTitle}}
<h2 class="form__title">
    {{ formTitle }}
</h2>
{{/if}}
<ul class="form__fields" id="form-fields">
    {{{ fields }}}
</ul>
<div class="form__buttons" id="form-buttons">
    {{{ buttons }}}
</div>
