.form-button {
    width: 100%;
    height: 37px;
    cursor: pointer;
    color: var(--form-button-color);
    background: none;
    font-family: Inter-Medium, sans-serif;
    font-size: 11px;
    border: none;
}

.form-button_main {
    border-radius: 8px;
    background: var(--form-button-color);
    color: var(--form-button-text-color);

    &:hover {
        background: var(--form-button-color--hover);
    }

    &:focus {
        outline: none;
    }
}
