<div class="profile">
    <div class="profile__content">
        <div class="profile__header">
            <div class="profile__photo" id="profile-photo">
                <div class="no-photo-icon">{{#profileNoPhotoIcon}}{{profileNoPhotoIcon}}{{/profileNoPhotoIcon}}</div>
            </div>
            <div class="profile__user-name">
                Иван
            </div>
            {{#> Modal id="change-profile-photo-modal" modalTitle="Загрузите файл" contentClassName="modal__content change-profile-photo-modal" }}
                <label for="file-input" id="file-label">Выберите файл на компьютере</label>
                <input type="file" id="file-input" style="display:none">
                {{> FormButton buttonClassName="form-button_main" buttonText="Поменять" redirectPage="profile" id="file-accept-button"}}
            {{/ Modal }}
        </div>
        <div class="profile__body">
            {{> ProfileForm id="proflle-form" }}
        </div>
        <div class="profile__footer" id="profile-footer">
            <div class="profile__footer-row"><button class="profile__buttom" id="change-data-button">Изменить данные</button></div>
            <div class="profile__footer-row"><button class="profile__buttom" id="change-password-button">Изменить пароль</button></div>
            <div class="profile__footer-row"><button class="profile__buttom profile__buttom--red" id="exit-button">Выйти</button></div>
        </div>
    </div>
</div>