<div class="profile__content">
    <header class="profile__header">
        <div class="profile__photo" id="profile-photo">
            <div class="no-photo-icon">{{{ profileNoPhotoIcon }}}</div>
        </div>
        <h1 class="profile__user-name">
            Иван
        </h1>
    </header>
    <section class="profile__body">
        {{{ form }}}
    </section>
</div>
