<div class="profile__content">
    <header class="profile__header">
        <div class="profile__photo" id="profile-photo">
            <div class="no-photo-icon">{{{ profileNoPhotoIcon }}}</div>
        </div>
        <h1 class="profile__user-name">
            Иван
        </h1>
    </header>
    <section class="profile__body">
        {{{ profileForm }}}
    </section>
    <ul class="profile__footer" id="profile-footer">
        <li class="profile__footer-row"><button class="profile__buttom" id="change-data-button">Изменить данные</button>
        </li>
        <li class="profile__footer-row"><button class="profile__buttom" id="change-password-button">Изменить
                пароль</button></li>
        <li class="profile__footer-row"><button class="profile__buttom profile__buttom--red" id="exit-button"
                page="login">Выйти</button></li>
    </ul>
</div>
