.search-result {
    width: 100%;
    border: 1px solid var(--item-border);
    padding: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: var(--modal-box-shadow);
    display: flex;
    flex-direction: column;
    gap: .3rem;
    position: absolute;
    background-color: white;
    top: 35px;
}

.no-result-text {
    color: grey;
}

.form-input-field {
    position: relative;
}
