.message-container {
    padding: 11px;
    background-color: white;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 0 12px 12px;
    align-self: flex-start;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 25%);
}

.message {
    font-family: Inter-Medium, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    color: #1e1e1e;

    &__meta {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        float: right;
        margin-left: 5px;
    }

    &__status {
        display: flex;
        align-items: center;
    }

    &__date {
        color: #999;
        font-size: 9px;

        &--dark {
            background: rgb(82 82 82 / 50%);
            color: white;
            border-radius: 30px;
            padding: 2px 7px 1px;
            line-height: 100%;
        }
    }
}

.message--from-me {
    align-self: self-end;
    border-radius: 12px 12px 0;
    background-color: #D3FFCC;
}
