<ul class="list-items">
    <li class="list-item" ><button class="list-item__button button" id="add-user-button"><span class="list-item__icon">{{{ addButtonIcon }}}</span><span class="list-item__text">Добавить пользователя</span></button></li>
    <li class="list-item" ><button class="list-item__button button" id="delete-user-button"><span class="list-item__icon">{{{ deleteButtonIcon }}}</span><span class="list-item__text">Удалить пользователя</span></button></li>
</div>

