<ul class="list-items">
    <li class="list-item" id="add-user-button"><button class="list-item__icon">{{{ addButtonIcon }}}</button><span class="list-item__text">Добавить пользователя</span></li>
    <li class="list-item" id="delete-user-button"><button class="list-item__icon">{{{ deleteButtonIcon }}}</button><span class="list-item__text">Удалить пользователя</span></li>
</div>

