<div class="modal display-none" id="{{id}}">
    <div class="{{#if contentClassName}}{{contentClassName}}{{/if}}">
        {{#if modalTitle}}
        <div class="modal__title">
            {{ modalTitle }}
        </div>
        {{/if}}
        {{> @partial-block }}
    </div>
</div>