.profile-form__field {
    position: relative;
    list-style: none;
    width: 100%;
    justify-content: space-between;
        
    &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--item-border);
    }
    &:not(:first-child) {
        margin-top: 10px;
    }
    
}
.profile-form__input {
    border: none;
    padding: 0;
    text-align: end;
    padding-left: 4rem;
    width: 100%;
    color: #999999;
    font-family: "Inter-Medium", sans-serif;
    font-size: 13px;
    &:focus {
        outline: none;
    }
    &:disabled {
        background: none;
    }
}
.profile-form__field-name {
    position: absolute;
    z-index: 999;
    font-size: 13px;
    color: #1E1E1E;
    font-family: "Inter-Medium", sans-serif;
}