.form-input-field__input {
    font-family: Inter-Medium, sans-serif;
    width: 100%;
    border: none;
    padding: 0;
    font-size: 14px;
    border-bottom: 1px solid var(--form-input-border-color);
    padding-bottom: 7px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: 14px;
        color: var(--form-input-placeholder-color);
    }
}