<form class="profile-form" {{#if id }}>
    <ul class="profile-form__fields-list" id="{{id}}"{{/if}}>
        {{> ProfileFormField inputType="text" fieldName="email" fieldLabel="Почта" placeholder="Почта" fieldValue="pochta@yandex.ru" fieldDisabled="true" }}
        {{> ProfileFormField inputType="text" fieldName="login" fieldLabel="Логин" placeholder="Логин" fieldValue="ivanivanov" fieldDisabled="true" }}
        {{> ProfileFormField inputType="text" fieldName="first_name" fieldLabel="Имя" placeholder="Имя" fieldValue="Иван" fieldDisabled="true" }}
        {{> ProfileFormField inputType="text" fieldName="second_name" fieldLabel="Фамилия" placeholder="Фамилия" fieldValue="Иванов" fieldDisabled="true" }}
        {{> ProfileFormField inputType="text" fieldName="display_name" fieldLabel="Имя в чате" placeholder="Имя в чате" fieldValue="Иван" fieldDisabled="true" }}
        {{> ProfileFormField inputType="tel" fieldName="phone" fieldLabel="Телефон" placeholder="Телефон" fieldValue="+7 (909) 967 30 30" fieldDisabled="true" }}
    </ul>
</form>