<main class="main-container profile-page">
    <section class="profile-page__content">
        <button class="profile-page__button-back" page="main">{{#buttonBack}}{{buttonBack}}{{/buttonBack}}</button>
        {{> Profile }}
    </section>
</main>
