<div class="main-container profile-page">
    <div class="profile-page__content">
        <button class="profile-page__button-back" page="main">{{#buttonBack}}{{buttonBack}}{{/buttonBack}}</button>
        {{> Profile }}
    </div>
</div>