<ul class="list-items">
    <li class="list-item"><button class="list-item__button"><span class="list-item__icon">{{{ fileIcon }}}</span><span class="list-item__text">Фото или Видео</span></button></li>
    <li class="list-item"><button class="list-item__button"><span class="list-item__icon">{{{ locationIcon }}}</span><span class="list-item__text">Файл</span></button></li>
    <li class="list-item"><button class="list-item__button"><span class="list-item__icon">{{{ photoIcon }}}</span><span class="list-item__text">Локация</span></button></li>
</ul>
