<ul class="list-items">
    <li class="list-item"><span class="list-item__icon">{{{ fileIcon }}}</span><span class="list-item__text">Фото или Видео</span></li>
    <li class="list-item"><span class="list-item__icon">{{{ locationIcon }}}</span><span class="list-item__text">Файл</span></li>
    <li class="list-item"><span class="list-item__icon">{{{ photoIcon }}}</span><span class="list-item__text">Локация</span></li>
</ul>
