.date-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.message-date {
    padding: 6px 9px;
    background-color: #DDE6F6;
    color: #999;
    font-family: Inter-Medium, sans-serif;
    font-size: 12px;
    border-radius: 8px;
}
