{{#if modalTitle}}
<h1 class="modal__title">
    {{{ modalTitle }}}
</h1>
{{/if}}
<label for="avatar" id="file-label">Выберите файл на компьютере</label>
<input type="file" id="avatar" name="avatar" style="display:none" />
{{{ button }}}
