<div class="chat-list__header">
    <button class="chat-list__header-button">{{#headerButtonIcon}}{{headerButtonIcon}}{{/headerButtonIcon}}</button>
    <div class="search-field">
        <div class="search-field__icon">{{#searchIcon}}{{searchIcon}}{{/searchIcon}}</div>
        <input class="search-field__input" type="text"></input>
    </div>
</div>