<div class="chat-list__content">
    {{{ chatListHeader }}}
    <ul class="chat-list__contacts">
        {{#if chats}}
            {{{ chats }}}
        {{else}}
        <p class="empty-chats-text">У вас пока нет чатов</p>\
        {{/if}}
    </ul>
    <div class="chat-list__footer">
        {{{ button }}}
    </div>
</div>
