<div class="chat-list">
    {{> ChatListHeader }}
    <div class="chat-list__contacts">
        {{#each (chat-list-data 'chatListData') }}
            {{> ContactCard }}
        {{/each}}
    </div>
</div>