.chat-list {
    width: 310px;
    height: 100%;

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--item-border);
        box-sizing: border-box;
    }
}

.chat-list__contacts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.empty-chats-text {
    width: 100%;
    text-align: center;
    color: #838383;
    font-family: Inter-Medium, sans-serif;
    font-size: 12px;
}

.chat-list__footer{
    padding: 1rem;
}
